.navbar {
  display: flex;
  background-color: white;
  top: 48px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  min-height: 64px;
  border-bottom: solid rgba(182, 181, 181, 0.5) 1px;
}

.navigator {
  display: flex;
  gap: 10px;
}

.navbar span {
  padding: 0.5rem;
  color: #707070;
  cursor: pointer;
}

.auth {
  font-weight: 700;
  gap: 10px;
  display: flex;
}

.hamburg {
  display: none;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .navbar > img {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .auth {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    top: calc(3 * 35px + 8px);
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    justify-content: space-between;
  }
  
  .navbar > img {
    display: block;
    padding: 0 2rem;
  }

  .navigator {
    display: none;
  }

  .hamburg {
    display: block;
    padding: 0 2rem;
  }
}