@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

body, #root {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.76;
  letter-spacing: 0.0em;
  font-family: 'Sofia Sans', Arial, sans-serif;
  background-color: #fff;
}

html {
  box-sizing: border-box;
}